.case-study{
    border: 1px solid var(--color-border);
    background: var(--color-card);
    padding: 20px;
    margin-bottom: 34px;
}

@media (max-width: 600px) {
    .case-study {
        padding: 16px;
    }
}